
.hero{
    background:linear-gradient(rgba(0,0,0,.5),rgb(0,0,0,.5)),  url(../../../public/images/hero-bg.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 0px;
}
.hero-content h1{
    font-size: 40px;
}
.hero-content h1 p{
color: #ffc451;}
.hero-content p{
    margin-top: 1rem;
    font-size: 22px;
}
.hero-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}
.hero-bottom-box{
 padding: 20px;
 margin: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}
.hero-bottom-box:hover{
   border: 1px solid #ffc451;
}
.hero-bottom-box i {
font-size: 32px;
    color: #ffc451;
    /* margin: 25px ; */
}
.hero-bottom-box p {
font-size: 20px;
color: white;
}
