
.hero{
    background:linear-gradient(rgba(0,0,0,.5),rgb(0,0,0,.5)),  url(../../../public/images/hero-bg.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 150px 0 ;

}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 0px;
      width: 100%;

}
.hero-content h1{
    font-size: 40px;
}
.hero-content h1 p{
color: #ffc451;
}

.hero-content p{
    margin-top: 1rem;
    font-size: 22px;
    padding: 30px;
}
.hero-bottom{
    display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
  width: 100%;

}
.hero-bottom-box{
 padding: 20px;
 margin: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}
.hero-bottom-box:hover{
   border: 1px solid #ffc451;
}
.hero-bottom-box i {
font-size: 32px;
    color: #ffc451;
    /* margin: 25px ; */
}
.hero-bottom-box p {
font-size: 20px;
color: white;
}

@media (max-width: 768px) {

    .hero-bottom{
        flex-wrap: wrap;
        justify-content: center ;
    }
    .hero-bottom-box{
        margin:10px  35px;
      
    }
}
@media (max-width: 430px) {

    .hero-content h1{
        font-size: 27px ;
    }
    .hero-content p
  {
    font-size: 20px ;
    line-height: 1.5 ;
    }
    .hero-bottom-box{
        margin: 20px 0 ;
        padding: 20px ;
        display: flex  ;
        flex-direction: column  ;
        }
        .nav{
        margin: 0 ;
        padding: 0 ;
        }
        .hero-content{
        margin-top:20px ;
        }
        .hero{
            height: auto ;
              padding: 150px 0 ;
    
    }
    .hero-bottom-box{
        width: 90% ;
    }

}
