
.features{
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-half{
    width: 50%;
    text-align: right;
    padding: 30px 10px;
}

.features-right img{
    width:100% ;
}
.features-left{
    display: flex;
flex-wrap: wrap;
width: 50%;
}
@media (max-width: 768px) {


    .features {
      flex-direction: column ;
  
  }
.features-half{
    width: 100% ;
}
}