
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: row-reverse;
}
.about-us-half{
    width: 50%;
    text-align: right;
    padding: 30px 10px;
}
.about-us-right h2{
    margin-bottom: 30px;
}
.about-us-right p{
    text-align: justify;
}
.about-us-left img{
    width:100% ;
}