.header{
    width: 100%;
    background-color: rgb(0,0,0,.5);
    text-align: center;
    position:fixed ;
    left: 0;
 top: 0;
}

.heder-icon img{
    width: 42px;
}
.nav{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul{
    margin: 0 10px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav a ,
.ul a{
    color: white;
    text-decoration: none;
  display: inline-flex;
  transition: all .5s;
}
nav{
    flex-wrap: wrap;
}
.ul a:hover{
    color: #ffc451;

}
.nav .ul li {
    margin-left:15px;
}
.nav ul li:last-child {
    margin-left:0;
}
.logo-text{
    text-transform:uppercase ;
font-size: 2rem;
width: 100%;
margin: 10px;
}
.start{
    padding: 8px 25px 8px 25px;
    border :1px solid #ffc451;
    border-radius: 4px;
    transition: all 0.5s ease-in-out ;
}
.start:hover{
    background-color: #ffc451;
}
.Hamburger-menu{
    display: none;
    margin-top: 32px;
}
.Hamburger-menu .ul-hamburger li{
   justify-content: center;
    margin-bottom: 10px;
    line-height: 2rem;
}
.parent-hamburger-icon , .parent-humberger-icon-close{
    width: 32px;
    height:32px;
    color: white;
    text-align: left;
    width: 100%;
    position: absolute;
    left: 20px;
    top: 30px;
}
