
.footer-top{
    display: flex;
    background-color: #151515;
    padding: 50px 70px;
color: white;

}
.column-one{
    width: 25%;
}
.col-one-logo{
    display: flex;
    align-items: center;
}
.logo-footer-parent{
    width: 100px;
    height: 100px;
    justify-content: flex-start;
}
.logo-text-footer{
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.column-one .text{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "irsans", irsans, sans-serif;
    color: #fff;
    text-align: justify;
}
.logo-footer-parent img{
    width: 100%;
    height: 100%;

}
.column-two{
    width: 25%;
}
.colum-two-links li{
list-style: none;
}
.footer-top h4{
    margin-bottom: 20px ;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 12px;
}
.column-two a{
    display:inline-block;
text-decoration: none;
color: white;
font-size: 14px;
margin-bottom: 20px;
}
.column-two li{
    color: #ffc451;

}
ul li {
    display: flex;
    line-height: 1;
}
ul li i{
    padding-right: 2px;
    color: #ffc451;
    font-size: 18px;
    line-height: 1;
    margin-left: 2px;
}
.column-four p{
    line-height: 1;
    font-size: 13px;
    margin-bottom: 1rem;
}
.column-four form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}
form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}
form input[type="submit"] {
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffc451;
    color: #151515;
    transition: 0.3s;
    border-radius: 4px 0 0 4px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    background: black;
    color: white;
}
.my-name{
    color: #ffc451;
}